plugin: aws_ec2

regions:
  - us-east-1

filters:
  tag:Name: jenkins-server

hostnames:
  - public-ip-address

compose:
  ansible_host: public_ip_address

keyed_groups:
  - key: tags.Name
    prefix: tag_Name_
