apiVersion: apps/v1
kind: Deployment
metadata:
  name: nti-devops-app
  namespace: ivolve
  labels:
    app: nti-devops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nti-devops-app
  template:
    metadata:
      labels:
        app: nti-devops-app
    spec:
      containers:
      - name: nti-devops-app
        image: mosaad71298/nti-devops-app:v1
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 3
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10
